.SortByDate {
  height: 30px;
  margin: 0 5px 0 445px;
}

@media (max-width: 950px) {
  .SortByDate {
    margin: 0 5px 0 45px;
  }
}
@media (max-width: 600px) {
  .SortByDate {
    margin: 0 5px 0 0;
    font-size: 14px;
  }
}
