.input {
  width: 710px;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 30px;
  margin-right: 5px;
  border-radius: 19px;
  word-break: break-all;
  background: rgba(124, 117, 117, 0.651);
  padding-left: 10px;
}
.add-button {
  width: 67px;
  height: 36px;
}
@media (max-width: 950px) {
  .input {
    width: 310px;
  }
}
@media (max-width: 600px) {
  .input {
    width: 210px;
  }
}



/* 

width='710px'
height='30px'
borderRadius= '4px'
marginBottom= '30px'
marginRight= '5px'
borderRadius= '19px'
wordBreak= 'break-all'
background= 'rgba(124, 117, 117, 0.651)'
paddingLeft= '10px' */