.tasks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  width: 800px;
  background-color: rgb(47, 79, 79);
}
.task {
  width: 650px;
}
.checkbox {
  width: 20px;
  height: 20px;
}

.delete-task {
  background: url(/src/assets/1483063.png) 0 0 /100% auto no-repeat;
  height: 20px;
  width: 20px;
  margin-left: 5px;
  color: aliceblue;
}
@media (max-width: 950px) {
  .tasks {
    width: 400px;
    margin: 0 auto 10px auto;
  }
  .task {
    width: 250px;
  }
}
@media (max-width: 600px) {
  .tasks {
    width: 300px;
    margin: 0 auto 10px auto;
  }
  .task {
    width: 150px;
  }
}
