.pages {
  display: flex;
  width: 800px;
  justify-content: space-between;
}
.page {
  width: 70px;
  height: 30px;
}
.page_left {
  background: url(/src/assets/arrowLeftWhite3.jpg\ .jpg) 0 0 / 100% 100%
    no-repeat;
  width: 45px;
  height: 30px;
}
.page_right {
  background: url(/src/assets/arrowRightWhite3.jpg\ .jpg) 0 0 / 100% 100%
    no-repeat;
  width: 45px;
  height: 30px;
}
.pages_left_notActive {
  background: transparent;
  border: none !important;
  font-size: 0;
}
@media (max-width: 950px) {
  .pages {
    width: 400px;
  }
  .page {
    width: 50px;
  }
  .page_left {
    width: 45px;
  }
  .page_right {
    width: 45px;
  }
}
@media (max-width: 600px) {
  .pages {
    width: 300px;
  }
  .page {
    width: 30px;
  }
  .page_left {
    width: 35px;
  }
  .page_right {
    width: 35px;
  }
}
